In [3]:
import pandas as pd
import numpy as np
import plotly.plotly as py
import cufflinks as cf 
import matplotlib.pyplot as plt
from pivottablejs import pivot_ui

class Index() :
    ALGORITHME = 0
    LANGUAGE = 1
    COMPILEFLAG = 2
    PARAM = 3
    INNERLOOP = 4 
#df = pd.DataFrame()
columns=['language','compilflag','param','innerloop','value']

l= []
files= !(ls *power) # file format : 'algo>.<language>.<compilflag>.<param>.<innerloop>.power
i = 0 
for file in files : 
    f=!(cat $file)
    infos = file.split('.')

    infos[Index.INNERLOOP] = int(infos[Index.INNERLOOP])
    for line in f :
        row = infos[1:-1]
        
          
        row.append(float(line))
        l.append(tuple(row))
    
df = pd.DataFrame(l,columns=columns)

In [7]:
x=df[df.compilflag == 'latest']
x= x.groupby(['language','compilflag','innerloop']).mean()
data=x.unstack(level=0)
data=data.value
py.iplot([{
    'x':data.index.levels[1],
    'y':data[col] ,
    'name':col
    } for col in data.columns ],filename='simple-test')

In [6]:
x=df[df.compilflag == 'latest']
x= x.groupby(['language','compilflag','innerloop']).mean()
data=x.unstack(level=0)
data.value

language                      c         cpp          go      java     python  \
compilflag innerloop
latest     1               0.00    3021.648    7678.031  140047.7   23923.38
           2           23307.94   30762.700   37684.740  141112.6   74581.94
           4           71944.96   87525.940  105754.600  140419.7  176235.80
           8          167957.90  200338.800  238679.200  140631.5  375423.90

language                   rust
compilflag innerloop
latest     1               0.00
           2           24470.73
           4           70273.99
           8          169228.30